doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    //meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='renderer', content='webkit')
    title= title
    // 最新版本的 Bootstrap 核心 CSS 文件
    link(rel='stylesheet', href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    //<!-- IE10 viewport hack for Surface/desktop Windows 8 bug 
    link(rel='stylesheet', href='/stylesheets/ie10-viewport-bug-workaround.css')
    // My style
    link(rel='stylesheet', href='/stylesheets/style.css')
    //<!-- Just for debugging purposes. Don't actually copy these 2 lines! 
    //<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]
    script(src='./stylesheets/ie-emulation-modes-warning.js')

    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css")
    //css for file upload plugins
    link(href='/fileinput/css/fileinput.min.css', media='all', rel='stylesheet', type='text/css')
  body
    //For var
    - var selectedData = 'FlyDelay2015'
    - var columnName = ['city','date','electricity(kWh)']
    mixin columnItem(columnName)
      li.list-group-item
        a.filterColumns
          span.glyphicon.glyphicon-filter.text-dark(aria-hidden='true')
        |#{columnName}


    block content

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js')
    // 最新的 Bootstrap 核心 JavaScript 文件
    script(src='https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    //IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='./stylesheets/ie10-viewport-bug-workaround.js')

    //Echarts
    script(src='https://cdn.bootcss.com/echarts/3.8.5/echarts-en.common.min.js')

    //- 加载 Babel
    //script(src='https://unpkg.com/babel-standalone@6/babel.min.js')
    // Latest compiled and minified JavaScript
    script(src = '//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js')

    //script for file outload
    //script(src = '/fileinput/js/purify.min.js')
    script(src = '/fileinput/js/fileinput.min.js')
    //script(src = '/fileinput/js/theme.min.js')

    //script into filter builder -- js
    script(src='./javascripts/filterBuilder.js')
    //script into vis query builder -- js
    script(src='./javascripts/visQueryBuilder.js')
    //script into dataset builder -- js
    script(src='./javascripts/datasetBuilder.js')
    //script draw charts -- js
    script(src='./drawCharts/chartOption.js')
    script(src='./drawCharts/createChart.js')
    //script deepeye recommendation
    script(src='./javascripts/recommendation.js')
    //script keyword to visualization
    script(src='./javascripts/Keyword2Vis.js')

    script(type='text/javascript').
        //TODO 初始化数据表和可视化
        $(function () {
            //TODO init data & visualization
            initialVisualization();
        });


//        function genereateDiv(fatherId, id,index) {
//            let chartW = ($('#'+fatherId).width());
//            let chartH = ($('#'+fatherId).width())*0.75;
//            let html = '<div class="panel panel-default">'+
//                        '<div class="panel-body">'+
//                        '<div id= "'+ id+index + '" style= "width:' + chartW +'px; height:' + chartH +'px;" ></div>'+
//                        '</div></div>'
//            $('#'+fatherId).append(html);
//        }
//        function draw(id,index) {
//            let mainID = id + index;
//            let myChart = echarts.init(document.getElementById(mainID));
//            // 指定图表的配置项和数据
//            let option = {
//                title: {
//                    text: 'ECharts 入门示例'
//                },
//                tooltip: {},
//                legend: {
//                    data: ['销量']
//                },
//                xAxis: {
//                    data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
//                },
//                yAxis: {},
//                series: [{
//                    name: '销量',
//                    type: 'bar',
//                    data: [5, 20, 36, 10, 10, 20]
//                }]
//            };
//            // 使用刚指定的配置项和数据显示图表。
//            myChart.setOption(option);
//        }
//
//        $(function () {
//            for (let i = 0; i < 10; i++) {
//                //genereateDiv('chartsContainer', 'main', i);
//                //draw('main', i);
//                genereateDiv('facetedDiv', 'mind', i);
//                draw('mind', i);
//            }
//        });
//        $(window).resize(function () {
//            myChart.resize();
//        });




